<div class="row">
    <div class="col bg-dark" style="height:100% width=200px; margin-left:12px;  display: flex;flex-direction: column; justify-content: space-evenly;" >
     <span class="text-light">Welcome Admin</span><br>
         <a href="/admin/report" style="text-decoration: none; color: rgb(255, 94, 0);">Reports</a><br><br>
         <a href="admin/view" style="text-decoration: none; color: rgb(255, 115, 0);">View Users</a><br><br>
        <a (click)="logout()" style="text-decoration: none; color: rgb(255, 81, 0);">Logout</a>
     
    </div>
    <div class="col-md-9" style="background-image: url('https://assets.materialup.com/uploads/320be02a-aa8f-4376-8a35-5457274fb45b/attachment.png');background-repeat:no-repeat;background-size:cover;background-size: 100% 100%;margin-right:10px;"><br><br>
        <h3 style="color:rgb(220, 77, 20); text-align: center; font-family: Verdana; text-shadow:1px 1px black;">Welcome To Admin Panel</h3>

        </div>
        </div>
